* {
    margin: 0px;
    padding: 0px;
    border: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    height: 60px;
    background-color: #084141;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo {
    height: 50px;
    width: 113px;
    background-image: url("amazon logo.png");
    background-size: cover;
}
.border {
    border: 2px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}
/* Box 1 */

#add1 {
    color: #cccccc;
    font-size: 13px;
    margin-left: 19px;
}
#add2 {
    display: flex;
    font-size: 16px;
    color: white;
    font-weight: bold;
}
/* Box 2 */
.search_bar {
    display: flex;
    align-items: center;
}
.search_bar:hover {
    border: 3px solid rgb(232, 151, 165);
    border-radius: 5px;
}
button {
    background-color: rgb(222, 82, 105);
    height: 40px;                                                                  
    width: 45px;
    font-size: 25px;
    border: transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#input_bar {
    border: 0px;
    height: 40px;
    width: 750px;
    color: black;
    font-size: 1rem;
}
#all {
    height: 40px;
    width: 50px;
    text-align: center;
    color: grey;
    background-color: #f3f3f3;
    border: transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
/*Box 3 */
.region_box {
    background-color: transparent;
}
select {
    background-color: transparent;
    border: transparent;
    color: white;
    font-weight: bold;
    font-size: 14px;
}
/* box 4 */
.nav_first {
    font-size: 0.8rem;
}
.nav_second {
    font-size: 1rem;
    font-weight: 700;    
}
.cart i {
    font-size: 1.5rem;
}


/* pannel */

.pannel {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #075959;
}
.pannel_boxes span {
    height: 40px;
    font-size: 0.85rem;
    margin-left: 25px;
    font-weight: 400;
}
.view_section {
    display: flex;
    
}
.view_image {
    background-image: url("main_image.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    width: 1600px;
}
.view_msg  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 1000px;
    background-color: rgb(255, 253, 253);
    color: black;
    margin-bottom: 20px;
}
a {
    color: #2162a1;
    text-decoration: none;
}
a:hover {
    text-shadow: 2px 2px 2px;
}
.crusial_font {
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: space-evenly;
    background-color: #eb8eeb71;

}
.box {
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 300px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding: auto;
    background-color: #fbffff;
}
.box_image {
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
    background-size: cover;
}
h2 {
    color: black;
    margin: 20px;
}
.crusial_font p {
    color: black;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.crusial_font p:hover {
    color: #2162a1;
    text-decoration: 2px underline #2162a1;
}
/* box 2 */
#box2 {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
}

.the_box {
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    flex: 1;
}
.box_pics1 {
    display: flex;
    justify-content: space-evenly;
    align-content: center;        
}
.box_pics2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0px;
}

.box_img {
    height: 5rem;
    width: 10rem;
    margin: 10px;
    background-color: black;
}
#box_img1 {
    background-image: url("decorations_img1.jpg");
    background-size: cover;
}
#box_img2 {
    background-image: url("decoration_img2.jpg");
    background-size: cover;
}
#box_img3 {
    background-image: url("decoration_img3.jpg");
    background-size: cover;
}
#box_img4 {
    background-image: url("decoration_img4.jpg");
    background-image: cover;
}

